<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="o-container-nav">
      <div class="c-navigation">
        <div class='c-navigation__title'>
          <h1>Archie Horner</h1>
        </div>
        <div class="c-navigation__links">
          <%= link_to 'My Blog', controller: 'articles' %>
        </div>
      </div>
    </div>
    <div class='o-container'>
    <%= yield %>
  </div>
  </body>
</html>
