<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='o-background' />
    <div class='o-container'>
      <div class="o-navigation">
        <div class="c-navigation">
          <div class='c-navigation__title'>
            <a>Archie Horner</a>
          </div>
          <div class="c-navigation__links">
            <%= link_to 'My Blog', controller: 'articles' %>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
